{% form_theme form 'form/form_div.html.twig' %}
<div class="ui grid">
    <div class="column">
        {{ form_start(form, {'attr': {'class': 'ui form'}}) }}
        <div class="fields">
            {{ form_row(form.nome, {'attr': {'data-row-class': 'five wide'}}) }}
            {{ form_row(form.dataNascimento, {'attr': {'data-row-class': 'three wide'}}) }}
            {{ form_row(form.sexo, {'attr': {'data-row-class': 'one wide'}}) }}
            {{ form_row(form.cpf, {'attr': {'data-row-class': 'two wide'}}) }}
            {{ form_row(form.rg, {'attr': {'data-row-class': 'two wide'}}) }}
            {{ form_row(form.orgaoRg, {'attr': {'data-row-class': 'two wide'}}) }}
        </div>
        <div class="fields">
            {{ form_row(form.pcd, {'attr': {'data-row-class': 'two wide'}}) }}
            {{ form_row(form.nis, {'attr': {'data-row-class': 'three wide'}}) }}
            {{ form_row(form.ctps, {'attr': {'data-row-class': 'three wide'}}) }}
            {{ form_row(form.serieCtps, {'attr': {'data-row-class': 'two wide'}}) }}
            {{ form_row(form.naturalidade, {'attr': {'data-row-class': 'five wide'}}) }}
        </div>
        <div class="fields">
            {{ form_row(form.profissao, {'attr': {'data-row-class': 'five wide'}}) }}
            {{ form_row(form.ocupacao, {'attr': {'data-row-class': 'five wide'}}) }}
            {{ form_row(form.renda, {'attr': {'data-row-class': 'three wide'}}) }}
        </div>
        <div class="fields">
            {{ form_row(form.escolaridade, {'attr': {'data-row-class': 'five wide'}}) }}
            {{ form_row(form.email, {'attr': {'data-row-class': 'five wide'}}) }}
        </div>
        <div class="fields">
            <div class="ui right floated buttons">
                <a href="{{ path('documento_index') }}" class="ui secondary button icon"><i class="arrow alt circle left icon"></i> Voltar</a>
                <button class="ui primary button">Salvar <i class="save circle right icon"></i></button>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
