 <div class="ui two segment">
                <div class="ui card">
                    <div class="content">
                        <div class="header">{{ funcionario.nome }}
                            <div class="right floated meta">
                            {% if funcionario.status == 1 %}
                            <i class="green checkmark icon"></i>
                            {% else %}
                            <i class="red ban icon"></i>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <h4 class="ui sub header"> 
                        </h4>
                        <div class="ui small feed">
                            <div class="event">
                                <div class="content">
                                    <div class="summary">
                                        Servidor <a>{{ funcionario.tipo }}</a> com a matrícula <a>{{ funcionario.matricula }}</a>, portador do CPF Nº <a>{{ funcionario.cpf |number_format (2, '-', '.')}}</a>.
                                    </div>
                                </div>
                            </div>
                            <div class="event">
                                <div class="content">
                                    <div class="summary">
                                        Reside no endereço <a>{{ funcionario.endereco }}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="event">
                                <div class="content">
                                    <div class="summary">
                                        Local de trabalho <a> {{ funcionario.secretaria.nome }}</a><br>
                                        Admissão: <a>{{ funcionario.admissao|date("d/m/Y")}}</a><br>
                                        {% if not funcionario.exoneracao|default('') %}
                                            Exoneração:
                                        {% else %}
                                            Exoneração: <a>{{ funcionario.exoneracao|date("d/m/Y")}}</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="extra content">
                        <a href="{{ path('funcionario_editar', {'id': funcionario.id}) }}"><button type="button" class="ui brown button"><i class="edit icon"></i> Editar</button></a>
                         {% if is_granted('ROLE_ADMIN') %}
                         {{ include('funcionario/_delete_form.html.twig') }}
                         {% endif %}
                    </div>
                </div>
                
            </div>   