{% extends 'base.html.twig' %}

{% block title %}SubSecretaria index{% endblock %}

{% block body %}
    <h1>SubSecretaria index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sub_secretarium in sub_secretarias %}
            <tr>
                <td>{{ sub_secretarium.id }}</td>
                <td>{{ sub_secretarium.nome }}</td>
                <td>
                    <a href="{{ path('sub_secretaria_show', {'id': sub_secretarium.id}) }}">show</a>
                    <a href="{{ path('sub_secretaria_edit', {'id': sub_secretarium.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sub_secretaria_new') }}">Create new</a>
{% endblock %}
