{% extends 'base.html.twig' %}

{% block title %}Documento index{% endblock %}

{% block body %}
<div class="espaco">
    <h3>Listagem de Documentos</h3>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <div class="direita">
        <a href="{{ path('documento_new') }}"><button type="button" class="ui primary button"><i class="fa fa-plus-circle" aria-hidden="true"></i> Novo</button></a>
    </div>
    {% endif %}
    <table class="ui celled table">
        <thead>
            <tr class="ui center aligned">
                <th>Origem</th>
                <th>Número</th>
                <th>Data Recebido</th>
                <th>Prazo <small>Estipulado</small></th>
                <th>Tempo <small>Decorrido</small></th>
                <th>Reiteração</th>
                <th>Localização</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for documento in documentos %}
            <tr>
                <td>{{ documento.origem }}</td>
                <td>{{ documento.numero }}</td>
                <td>{{ documento.dataRecebido ? documento.dataRecebido|date('d/m/Y') : '' }}</td>
                <td>{{ documento.prazo }}</td>
                <td>
                {% if documento.ultimoStatus == 'Arquivado' %}
                    Documento Arquivado
                {% else %}
                {{ documento.dataRecebido|time_diff }}
                {% endif %}
                </td>
                <td>
                    {% if documento.reiteracao == 1 %}
                        {{documento.numeroReiteracao.numero}}
                    {% else %}
                        Não
                    {% endif %}
                </td>
                <td>
                    {{ documento.ultimoDestino }}
                </td>
                <td>{{ documento.ultimoStatus.descricao}}</td>
                <td>
                    <div class="ui small icon buttons">
                        <a href="{{ path('documento_show', {'id': documento.id}) }}"
                            class="ui compact icon button" >
                            <i class="file icon"></i>
                        </a>
                        <a href="{{ path('documento_edit', {'id': documento.id}) }}"
                            class="ui compact icon button" >
                            <i class="edit icon"></i>
                        </a>
                        {# {% if tramitacoes.dataFim == null %} #}
                            {% if documento.ultimoDestino == app.user.funcionario.secretaria.nome %}}
                            <a href="{{ path('tramitacao_receber', {'id': documento.id}) }}" 
                                class="ui compact icon secondary button" title="Receber">
                                <i class="arrow alt circle down icon"></i>
                            </a>
                            {% endif %}
                        {# {% endif %} #}
                        <a href="{{ path('tramitacao_new', {'id': documento.id}) }}" 
                            class="ui compact icon positive button" title="Encaminhar">
                            <i class="arrow alt circle right icon"></i>
                        </a>
                        <a href="{{ path('status_documento_edit',{'id' : documento.id }) }}" 
                            class="ui compact icon grey button" title="Alterar Status">
                            <i class="sync alt circle right icon"></i>
                        </a>
                    </div>
                </td>
       {% else %}
            </tr>
                <td colspan="6">nenhum registro encontrado</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
