{% extends 'base.html.twig' %}

{% block title %}Documento{% endblock %}

{% block body %}
<div class="espaco">
    <h3>{% set tipo = get_static_method('App\\Enum\\TipoDocumentoEnum', 'getTipo') %}
        {{ tipo[documento.tipo] }} - Nº {{ documento.numero }}</h3>
    <div class="direita">
        <a href="{{ path('documento_index') }}" class="ui secondary button icon"><i class="arrow circle left icon"></i></a>
        <a href="{{ path('documento_edit', {'id': documento.id}) }}" class="ui button icon"><i class="edit icon"></i></a>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        {{ include('documento/_delete_form.html.twig') }}
        {% endif %}
    </div>

    <table class="ui compact celled table">
        <tbody>
            <tr>
                <th>Origem</th>
                <td>{{ documento.origem }}</td>
            </tr>
            <tr>
                <th>Data Cadastro</th>
                <td>{{ documento.dataRecebido ? documento.dataRecebido|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Prazo</th>
                <td>{{ documento.prazo }} dias</td>
            </tr>
            <tr>
                <th>Reiteração</th>
                <td>{{ documento.reiteracao ? 'Sim' : 'Não' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ documento.ultimoStatus.descricao }}</td>
            </tr>       
        </tbody>
    </table>
    <table class="ui compact celled table">
        <thead>
            <tr>
                <th>Origem</th>
                <th>Enviado Por</th>
                <th>Data Enviado</th>
                <th>Destino</th>
                <th>Recebido Por</th>
                <th>Data Recebido</th>
                <th>Observação</th>
            </tr>
        </thead>
        <tbody>
        {% for tramitacao in documento.tramitacao %}
            <tr class="center aligned">
                <td class="active">{{ tramitacao.origem }}</td>
                <td class="active">{{ tramitacao.funcionarioOrigem }}</td>
                <td class="active">{{ tramitacao.dataInicio ? tramitacao.dataInicio|date('d/m/Y') : '' }}</td>
                <td >{{ tramitacao.destino }}</td>
                <td>{{ tramitacao.funcionarioDestino }}</td>
                <td>{{ tramitacao.dataFim ? tramitacao.dataFim|date('d/m/Y') : '' }}</td>
                <td>{{ tramitacao.observacao }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">nenhum registro encontrado.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
